<div>
  <h1
    class="text-center text-lg bg-blue-200 border-b-2 border-black font-bold w-full"
  >CHAT IN REAL TIME
    <span
      class="animate-ping absolute mt-2 ml-1 h-3 w-3 rounded-full bg-sky-400 opacity-75"
    ></span>
    <span
      class="relative inline-flex rounded-full ml-1 h-3 w-3 bg-sky-500"
    ></span></h1>
  <div class="flex flex-col mt-5 px-5">
    <div class="w-full flex flex-col gap-1 mb-4">
      <span id="user" class="w-max mb-1 pl-2 text-xl text-blue-400"></span>
      <input
        type="text"
        id="chatBox"
        placeholder="Write your message here..."
        class="border-2 border-blue-200 rounded w-full px-1.5 py-1 focus:outline-none focus:border-blue-400"
      />
    </div>
    <div id="messagesLogs"></div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>