<div class="w-full flex flex-col items-center mt-32 justify-center">
  <div
    class="border-4 bg-blue-50 border-black rounded-md px-4 border-2 border-black py-4"
  >
    <h1 class="text-4xl font-bold text-center">THIS IS A LOGGER TEST</h1>
    <ul class="flex flex-col gap-3">
      <li class="flex items-center gap-3 mt-5">
        <span
          class="rounded-md w-28 border-2 border-black text-center bg-red-400 text-xl font-bold text-white px-1 py-1"
        >FATAL</span>
        <p class="text-lg italic">The fatal log test will appear in console</p>
      </li>
      <li class="flex items-center gap-3">
        <span
          class="rounded-md w-28 border-2 border-black text-center bg-red-400 text-xl font-bold text-white px-1 py-1"
        >ERROR</span>
        <p class="text-lg italic">The error log test will appear in console</p>
      </li>
      <li class="flex items-center gap-3">
        <span
          class="rounded-md w-28 border-2 border-black text-center bg-yellow-400 text-xl font-bold text-white px-1 py-1"
        >WARNING</span>
        <p class="text-lg italic">The warning log test will appear in console</p>
      </li>
      <li class="flex items-center gap-3">
        <span
          class="rounded-md w-28 border-2 border-black text-center bg-green-400 text-xl font-bold text-white px-1 py-1"
        >INFO</span>
        <p class="text-lg italic">The info log test will appear in console</p>
      </li>
      {{#if environment}}
        <li class="flex items-center gap-3">
          <span
            class="rounded-md w-28 border-2 border-black text-center bg-green-400 text-xl font-bold text-white px-1 py-1"
          >HTTP</span>
          <p class="text-lg italic">The http log test will appear in console</p>
        </li>
        <li class="flex items-center gap-3">
          <span
            class="rounded-md w-28 border-2 border-black text-center bg-blue-400 text-xl font-bold text-white px-1 py-1"
          >DEBUG</span>
          <p class="text-lg italic">The DEBUG log test will appear in console</p>
        </li>
      {{/if}}
    </ul>
  </div>
</div>