<form
  action="api/session/reset-password?token={{token}}"
  method="POST"
  class="mx-auto mt-12 flex flex-col gap-2 rounded-md border-2 border-black p-4 w-1/4 bg-blue-100"
>
  <h1 class="text-center font-semibold text-xl pb-2">RESET PASSWORD</h1>
  <div class="flex w-full">
    <label
      for="password"
      class="form-label w-72 text-center rounded-sm border-2 border-black"
    >New Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class="ml-2 w-full form-control bg-blue-100 border-b-2 border-blue-300 focus:outline-none focus:border-blue-400 ease-in-out"
    />
  </div>
  <div class="flex w-full">
    <label
      for="confirm"
      class="form-label w-72 text-center rounded-sm border-2 border-black"
    >Confirm Password:</label>
    <input
      type="password"
      id="confirm"
      name="confirm"
      class="ml-2 w-full form-control bg-blue-100 border-b-2 border-blue-300 focus:outline-none focus:border-blue-400 ease-in-out"
    />
  </div>
  <button
    type="submit"
    class="form-control text-lg mt-1 bg-blue-200 font-semibold rounded-sm border-2 border-black px-1 py-.5 w-full hover:bg-blue-50 active:bg-blue-200 transition-all duration-300"
  >Submit</button>
</form>
<p class="italic text-sm w-full text-center">If the link has expired you will be
  redirected to create another link</p>