<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <nav
      class="w-full sticky top-0 px-4 py-3 items-center bg-blue-300 border-b-2 border-black"
    >
      <ul class="flex justify-between w-full items-center">
        <strong
          class="text-4xl text-blue-50 hover:text-blue-100 transition-all duration-200"
        ><a href="/">CODEDOM</a></strong>
        <ul class="flex justify-between gap-5 text-xl font-semibold">
          <li><a
              href="/"
              class="border-b-2 border-transparent hover:border-blue-50 py-0.5 px-1 hover:text-blue-50 transition-all duration-200"
            >Courses</a></li>
          {{#if isAdmin}}
            <li><a
                href="/realtimeproducts"
                class="border-b-2 border-transparent hover:border-blue-50 py-0.5 px-1 hover:text-blue-50 transition-all duration-200"
              >Live Products</a></li>

          {{else}}
            <li><a
                href="/cart/{{user.cart}}"
                class="border-b-2 border-transparent hover:border-blue-50 py-0.5 px-1 hover:text-blue-50 transition-all duration-200"
              >Cart</a></li>
          {{/if}}
          <li><a
              href="/profile"
              class="border-b-2 border-transparent hover:border-blue-50 py-0.5 px-1 hover:text-blue-50 transition-all duration-200"
            >Account</a></li>
        </ul>
      </ul>
      <a
        href="/api/session/logout"
        class="right-2 mt-2 absolute px-4 py-2 text-lg form-control text-lg mt-5 bg-blue-200 font-semibold rounded-sm border-2 border-black px-1 py-.5 hover:bg-blue-50 active:bg-blue-200 transition-all duration-300"
      >Logout</a>
    </nav>
    {{{body}}}
  </body>
  <footer class="mt-8 fixed bottom-0 w-full text-center py-2 bg-blue-100">
    <p class="block text-center font-semibold">CODEDOM© all rights reserved</p>
  </footer>
</html>